<h1><%= @user.name %></h1>

<div>
  <%= image_tag user_avatar(@user), alt: '[Photo]' %>
</div>

<h2>@<%= @user.username %></h2>

<a class="button button-green" href="#">Задать вопрос</a>

<% @questions.each do |question| %>
    <%= render partial: 'questions/question', object: question %>
<% end %>
