<div class="container content-wrapper buffer-both">
  <h1 class="title-medium">Хештег #<%= @hashtag.name %></h1>

  <div class="user-questions buffer-both">
    <div class="questions-list">
      <% @hashtag.questions.each do |question| %>
      <%= render partial: 'questions/question', object: question %>
      <% end %>
    </div>
  </div>
</div>

